name: testg9624346/test2-coverage-report
on:
  push:
  workflow_dispatch:
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
jobs:
  install_node:
    runs-on: ubuntu-latest
    container:
      image: node:latest
    timeout-minutes: 60
    env:
      TEST_VAR: "${{ secrets.TEST_VAR }}"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 20
        lfs: true
    - run: node --version
    - run: npm --version
    - run: echo "Testing variable $TEST_VAR"
    - run: echo "Testing completed"
    - uses: actions/upload-artifact@v4.0.0
      if: success()
      with:
        name: "${{ github.job }}"
        path: |-
          node_version.txt
          npm_version.txt
